apiVersion: v1
kind: Secret
metadata:
  name: repo-name
  namespace: argo
  labels:
    argocd.argoproj.io/secret-type: repo-creds
type: Opaque
stringData:
  type: git
  url: https://github.com/ORG/REPO.git
  githubAppID: "APP_ID"
  githubAppInstallationID: "INSTALLATION_ID"
  githubAppPrivateKey: |
    -----BEGIN RSA PRIVATE KEY-----
    YOUR_PRIVATE_KEY_PEM
    -----END RSA PRIVATE KEY-----
---

